@custom-variant dark (&:is(.dark *));

:root {
  --background: #ffffff;
  --foreground: #030213;
  --card: #ffffff;
  --border: rgba(0, 0, 0, 0.1);
  --radius: 0.625rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-border: var(--border);
  --radius-lg: var(--radius);
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}